.entry-doctor {
	margin: 0 -20px;
	table {
		border: none;		
		tr {
			border-top: 1px solid #dfdfdf;
			th,
			td,
			th:first-child,
			td:first-child {
				border-top: none;
				border-right: none;
				border-bottom: none;
				border-left: none;
			}
			th {
				white-space: nowrap;
			}
		}
	}
	.doctor {
		width: 100px;
	}
	.cancel,
	.reload {
		margin: 0 0 0 30px;
		position: relative;
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
		}
		&:after {
			height: 100%;
			width: 30px;
		}
	}
	.cancel {
		&:before {
			@include icon-sprite(cancel);
			top: 2px;
			left: -25px;
		}
	}
	.reload {
		&:before {
			@include icon-sprite(reload);
			left: -30px;
		}
	}
}