.browser-error {
	font-size: 2*$font-size;
	color: #e06868;
	text-align: center;
	a {
		font-size: 2*$font-size;
	}
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.pseudolink {
	border-bottom: 1px dashed;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		border-bottom: 1px solid transparent;
	}
}

.arrow-right,
.arrow-left  {
	position: relative;
	padding: 0 16px 0 0;
	&:after {
		position: absolute;
		top: 0;
		line-height: $line-height;
	}
}

.arrow-right {
	&:after {
		content: "\2192";
		right: 0;
	}
}

.arrow-left {
	&:after {
		content: "\2190";
		left: 0;
	}
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.justify {
	text-align: justify;
	font-size: 0;
	line-height: 0;
	>* {
		display: inline-block;
		vertical-align: bottom;
		font-size: $font-size;
		line-height: $line-height;
	}
	&:after {
		content: "";
		width: 100%;
		display: inline-block;
	}
}

.light-text {
	color: lighten($text-color, 30%);
}

.dark-text {
	color: darken($text-color, 20%);	
}

.nowrap {
	white-space: nowrap;
}

.fix-ib {
	font-size: 0;
	>* {
		font-size: $font-size;
	}
}

.align-right {
	text-align: right;
}

.ib {
	display: inline-block;
	vertical-align: middle;
}

.hide {
	display: none;
}

.link {
	margin: 16px;
}