$font-size: 14px;
$line-height: 1.2;
$text-color: #171717;

//theme-color
$brand-color: #d9261f;
$secondary-brand-color: #000;

//form-control
$form-control-border: #ccc;
$form-control-bg: #fff;
$form-group-highlight: #f2f2f2;
$form-control-highlight: #fae5e4;

//error
$error: #c1272d;
$valid: #4ad592;

//helper
$helper-bg: #b3b3b3;

//modal-close
$close-color: #b3b3b3;

//btn
$btn-default-color: #999;

//result
$result: #8cc63f;
$result-error: #d9261f;

//time
$time: #2f3195;
$time-hover: #d9261f;
$time-disable: #999;
$time-border-color: #e6e6e6;

//calendar
$calendar-bg: #969696;
$calendar-disable: #ccc;
$calendar-control-hover: #333;
$calendar-hover: #d9261f;