@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-flow($direction, $wrap) {
	-webkit-flex-flow: $direction $wrap;
	-moz-flex-flow: $direction $wrap;
	-ms-flex-flow: $direction $wrap;
	flex-flow: $direction $wrap;
}

/* @mixin flex-wrap($value) {
	-webkit-flex-wrap: $value;
	-moz-flex-wrap: $value;
	-ms-flex-wrap: $value;
	flex-wrap: $value;
} */

@mixin justify-content($value) {
	-webkit-justify-content: $value;
	-moz-justify-content: $value;
	justify-content: $value;
}