.form {
	.chosen-container {
		display: inline-block;
		vertical-align: middle;
		height: 33px;
		margin: 0 13px 0 0;
		background: #fff;
		border: 1px solid $form-control-border;
		@include border-radius(15px);
		position: relative;
		&:hover,
		.chosen-with-drop {
			border: 1px solid $brand-color;
		}
	}
	.chosen-single {
		display: block;
		padding: 0 40px 0 16px;
		line-height: 33px;
		color: #171717 !important;
		b {
			border-top: 5px solid $brand-color;
			border-right: 6px solid transparent;
			border-left: 6px solid transparent;
			position: absolute;
			top: 15px;
			right: 14px;
		}
		span {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			display: block;
		}
	}
	.chosen-drop {
		width: 100%;
		overflow: hidden;
		margin: 4px 0 0;
		border: 1px solid $form-control-border;
		@include border-radius(15px);
		background: #fff;
		@include box-shadow(0 2px 5px rgba(0,0,0,.2));
		position: absolute;
		top: 100%;
		left: -9999px;
		z-index: 2;
		color: $text-color;
	}
	.chosen-with-drop {
		.chosen-drop {
			left: -2px;
		}
		b {
			border-bottom: 5px solid $brand-color;
			border-top: none;
		}
	}
	.chosen-results {
		margin: 0;
		padding: 0;
		list-style: none;
		max-height: 200px;
		overflow-y: auto;
	}
	.chosen-search {
		padding: 5px;
		input[type="text"] {
			height: 30px;
			padding: 0 12px;
			width: 100%;
			box-sizing: border-box;
			border-top: 1px solid $form-control-border;
			border-right: 1px solid lighten($form-control-border, 5%);
			border-bottom: 1px solid lighten($form-control-border, 5%);
			border-left: 1px solid $form-control-border;
			font: normal $font-size Arial, sans-serif;
			color: lighten($text-color, 13%);
			&:focus,
			&:hover {
				outline: none;
			}
		}
	}
	.active-result {
		padding: 8px 16px;
		line-height: 1;
		cursor: default;
		&:hover{
			background: $form-control-highlight;
		}
		+.active-result {
			margin-top: 1px;
		}
	}
	.result-selected {
		background: $form-control-highlight;
		position: relative;
	}
	.chosen-container-single-nosearch {
		.chosen-search {
			display: none;
		}
	}
	.no-results {
		padding: 5px;
	}
}