.pickmeup {
	background: #fff;
	margin: 6px 0 0;
	display: none;
	position: absolute;
	z-index: 1;
	@include box-shadow(0 0 10px rgba(0,0,0, 0.5));
	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {
		display: none;
	}
}

.pmu-instance {
	width: 182px;
	padding: 14px 18px 26px;
	.pmu-button {
		color: lighten($text-color, 30%);
		cursor: pointer;
		outline: none;
		text-decoration: none;
	}
	.pmu-not-in-month {
		color: lighten($text-color, 55%);
	}
	.pmu-disabled,
	.pmu-disabled:hover {
		cursor: default;
	}
	.pmu-selected {
		background: $brand-color;
	}
	.pmu-today {
		background: $brand-color;
		color: #fff;
		border: 1px solid transparent
	}
	nav {
		margin: 0 0 12px;
		padding: 0 10px;
		@include box-sizing(border-box);
		position: relative;
		.pmu-prev,
		.pmu-next {
			//color: $pmu-disabled;
			width: 10px;
			position: absolute;
			top: 0;
		}
		.pmu-prev {
			left: 0;
		}
		.pmu-next {
			right: 0;
		}
		.pmu-month {
			text-align: center;
			color: $secondary-brand-color;
		}
	}
	.pmu-days,
	.pmu-day-of-week {
		font-size: 0;
		div {
			width: 18px;
			height: 20px;
			padding: 0 2px 0 0;
			margin: 0 2px;
			line-height: 20px;
			border: 1px solid transparent;
			display: inline-block;
			text-align: right;
			font-size: $font-size;
		}
	}
	.pmu-day-of-week {
		padding: 0 0 3px;
		color: tint($secondary-brand-color, 50%);
		cursor: default;
		font-size: $font-size;
		line-height: $line-height;
		border-bottom: 1px solid tint($secondary-brand-color, 50%);
	}
	.pmu-days {
		padding: 6px 0 0;
		.pmu-button {
			&:hover {
				border: 1px solid $brand-color;
			}
		}			
	}
	.pmu-months,
	.pmu-years {
		margin: 0 -4px;
		.pmu-button {
			display: inline-block;
			//width: ($calendar-width - 4*2 - 24) /4;
			margin: 0 4px;
			padding: 3px 0;
			border: 1px solid transparent;
			text-align: center;
			&:hover {
				border: 1px solid $brand-color;
			}
		}
	}
	.pmu-saturday,
	.pmu-sunday {
		&:not(.pmu-not-in-month) {
			color: $brand-color;
		}
		&.pmu-today,
		&.pmu-selected {
			color: #fff;
		}
	}
}