.imodal {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow: hidden;
	text-align: center;
	visibility: hidden;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
	@include opacity(0);
	@include transition(opacity, .3s);
	color: $text-color;
	font: normal $font-size Arial, sans-serif;
	&.show {
		visibility: visible;
		-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
		@include opacity(1);
		@include transition(opacity, .3s);
		background: rgba(0,0,0,.5);
		overflow: auto;
	}
	&:after {
		content: "";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	&--system {
		.imodal {
			&__box {
				@include border-radius(0);
				width: 540px;
				padding: 30px;
			}
			&__title {
				margin: 0 -10px;
				padding: 0 50px 17px 10px;
				font-size: 2.43*$font-size;
				border-bottom: 1px solid #ccc;
			}
			&__body {
				padding: 19px 0;
			}
			&__footer {
				margin: 0;
				padding: 12px 0 34px;
				border-top: none;
			}
			&__close {
				width: 37px;
				height: 37px;
				@include border-radius(50%);
				background: $brand-color;
				top: 23px;
				right: 26px;
				color: #fff;
				line-height: 37px;
				text-align: center;
				&:hover {
					background: saturate($brand-color, 15%);
					color: #fff;
				}
			}
		}
	}
	&__box {
		width: 846px;
		margin: 50px 0;
		padding: 45px;
		background: #fff;
		border: 1px solid #ccc;
		@include border-radius(14px);
		display: inline-block;
		vertical-align: middle;
		position: relative;
		text-align: left;
	}
	&__title {
		margin: 0 0 22px;
		font-size: 1.71*$font-size;
	}
	&__close {
		position: absolute;
		top: 17px;
		right: 21px;
		z-index: 2;
		cursor: pointer;
		line-height: 1;
		color: $btn-default-color;
		&:before {
			content: "\00D7";
			font-size: 2.42*$font-size;
		}
		&:hover {
			color: $brand-color;
		}
	}
	&__body {
		position: relative;
		padding: 27px 45px 0;
	}
	&__footer {
		position: relative;
		margin: 17px 0 0;
		padding: 22px 0 0;
		border-top: 1px dashed $form-control-border;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		&--justify {
			text-align: justify;
			font-size: 0;
			>* {
				font-size: $font-size;
			}
			&:after {
				content: "";
				width: 100%;
				display: inline-block;
			}
		}
	}
	b {
		font-size: 1.14*$font-size;
		font-weight: bold;
	}
}

.menu {
	padding: 0;
	margin: 0;
	font-size: 0;
	list-style: none;
	counter-reset: point;
	overflow: hidden;
	>* {
		font-size: $font-size;
	}
	&__item {
		display: inline-block;
		vertical-align: middle;
		@include box-sizing(border-box);
		width: 169px;
		height: 50px;
		padding: 0 0 0 73px;
		background: $btn-default-color;
		color: #fff;
		position: relative;
		&:first-child {
			padding: 0 0 0 47px;
			&:before {
				left: 12px;
			}
		}
		&.active {
			background: $brand-color;
			&:before {
				color: $brand-color;
			}
			~ .menu__item {
				background: $secondary-brand-color;	
				&:before {
					color: $secondary-brand-color;
				}
				.menu__text {
					&:before {
						border-left: 18px solid $secondary-brand-color;
					}
				}
			}
			.menu__text {
				&:before {
					border-left: 18px solid $brand-color;
				}
			}
		}
		&:before {
			content: counter(point);
			counter-increment: point 1;
			width: 24px;
			height: 24px;
			margin: 0 8px 0 0;
			background: #fff;
			@include border-radius(50%);
			font-size: 1.14*$font-size;
			font-weight: bold;
			line-height: 24px;
			text-align: center;
			color: $btn-default-color;
			position: absolute;
			top: 14px;
			left: 35px;
		}
		&:after {
			content: "";
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		&:before,
		&:after {
			content: "";
			border-top: 27px solid transparent;
			border-bottom: 27px solid transparent;			
			position: absolute;
			top: -2px;
		}
		&:before {
			border-left: 18px solid $btn-default-color;
			right: -16px;
			z-index: 2;
		}
		&:after {
			border-left: 18px solid #fff;
			right: -18px;
			z-index: 1;
		}
	}
}

.title {
	padding: 0 0 0 45px;
	margin: 0 0 20px;
	font-size: 1.71*$font-size;
	color: $brand-color;
	position: relative;
	&__number {
		width: 30px;
		height: 30px;
		margin: 0 11px 0 0;
		@include border-radius(50%);
		background: $brand-color;
		color: #fff;
		line-height: 30px;
		font-size: 1.5*$font-size;
		font-weight: bold;
		text-align: center;
		position: absolute;
		top: -2px;
		left: 0;
	}
}

.highlight {
	color: $brand-color;
}

.map {
	width: 420px;
	height: 230px;
}

.preloader {
	position: relative;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(#fff, 0.5) url('/assets/img/preloader.gif') 50% 50% no-repeat;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}
}

.salon {
	font-size: 0;
	&__map,
	&__details {
		display: inline-block;
		vertical-align: top;
		font-size: $font-size;
	}
	&__map {
		width: 420px;
		height: 330px;
		margin: 0 25px 0 0;
	}
	&__details {
		width: 215px;
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			+.salon__address-item {
				margin-top: 15px;
			}
		}
	}
}

.result {
	background: lighten($result, 40%);
	min-height: 90px;
	padding: 60px 60px 60px 125px;
	@include border-radius(13px);
	position: relative;
	&:before {
		content: "";
		width: 70px;
		height: 70px;
		@include border-radius(50%);
		background: $result;
		position: absolute;
		top: 50%;
		left: 30px;
		margin-top: -35px;
	}
	&:after {
		content: "";
		@include icon-sprite(success);
		position: absolute;
		top: 50%;
		left: 40px;
		margin-top: -27px;
	}
	&__title {
		margin: 0 0 12px;
		font-size: 1.71*$font-size;
		color: $result;
	}
	&--error {
		background: lighten($result-error, 45%);
		&:before {
			background: $result-error;
		}
		&:after {
			@include icon-sprite(error);
			top: 50%;
			left: 42px;
			margin-top: -17px;
		}
		.result {
			&__title {
				color: $result-error;
			}
		}
	}
}

#container {
	margin: 0;
}

.calendar {
	padding: 0 24px 0;
	margin: 0 0 -9px;
	@include box-sizing(border-box);
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&__viewport {
		width: 100%;
		height: 50px;
		overflow: hidden;
		padding: 0 0 10px;
	}
	&__list {
		width: 9999px;
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;
	}
	&__day {
		width: 101px;
		padding: 7px 0;
		@include background(linear-gradient(top, $calendar-bg, darken($calendar-bg, 10%)));
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		cursor: pointer;
		color: #fff;
		position: relative;
		float: left;
		border-right: 1px solid #fff;
		text-align: center;
		&:hover,
		&--active {
			background: $calendar-hover;
			&:before {
				content: "";
				border-right: 10px solid transparent;
				border-left: 10px solid transparent;
				border-top: 7px solid $calendar-hover;
				position: absolute;
				left: 50%;
				bottom: -7px;
				margin: 0 0 0 -10px;
			}
		}
		&--disable {
			color: $calendar-disable;
			cursor: default;
		}
	}
	&__control {
		@include background(linear-gradient(top, $calendar-bg, darken($calendar-bg, 10%)));
		border: 1px solid #fff;
		position: absolute;
		z-index: 1;
		top: 0;
		height: 50px;
		width: 22px;
		cursor: pointer;
		&:not(.inactive):hover {
			background: $calendar-control-hover;
		}
		&:before {
			content: "";
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -7px 0 0 -4px;
		}
		&--next {
			@include border-radius(0 12px 12px 0);
			right: 1px;
			&:before {
				border-left: 7px solid #fff;
			}
		}
		&--prev {
			@include border-radius(12px 0 0 12px);
			left: 0;
			&:before {
				border-right: 7px solid #fff;
			}
		}
		&.inactive {
			cursor: default;
		}
	}
}

.time {
	@include flexbox;
	@include flex-flow(column, wrap);
	border-top: 1px solid $time-border-color;
	border-left: 1px solid $time-border-color;
	background: #fff;
	height: 128px;
	&__el {
		@include justify-content(flex-start);
		border-right: 1px solid $time-border-color;
		border-bottom: 1px solid $time-border-color;
		display: inline-block;
		width: 54px;
		height: 31px;
		color: $time;
		cursor: pointer;
		text-align: center;
		line-height: 31px;
		&:not(.time__el--disable):hover,
		&--active {
			color: #fff;
			background: $time-hover;
		}
		&--disable {
			cursor: default;
			color: $time-disable;
		}
	}
}

.client-info {
	padding: 15px 50px 30px;
	margin: 10px 0;
	@include border-radius(12px);
	background: #fae5e4;
	&__title {
		margin: 0 0 8px;
		font-size: 1.28*$font-size;
		font-weight: bold;
	}
	b {
		font-size: $font-size;
	}
}