.btn {
	display: inline-block;
	border: none;
	width: 245px;
	padding: 16px;
	@include box-sizing(border-box);
	background: $btn-default-color;
	@include border-radius(13px);
	text-decoration: none;
	color: #fff;
	font-size: $font-size;
	text-align: center;
	cursor: pointer;
	position: relative;
	&:focus {
		outline: none;
	}
	&:hover {
		color: #fff;
		background: darken($btn-default-color, 15%);
	}
	&:visited {
		color: #fff;
	}
	&--primary {
		background: $brand-color;
		&:hover {
			background: saturate($brand-color, 15%);
		}
	}
	&--small {
		width: auto;
		padding: 10px 24px;
	}
}