.form {
	&__groups {
		+.form__groups, 
		+.form__group {
			margin-top: 35px;
		}
	}
	&__group {
		padding: 0 48px;
		@include border-radius(12px);
		&:after {
			content: '';
			display: table;
			clear: both;
		}
		&--highlight {
			min-height: 32px;
			padding: 17px 48px;
			background: $form-group-highlight;
			/*&:after {
				content: "";
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}*/
			.form__group-label {
				vertical-align: middle;
			}
			b {
				line-height: 32px;
			}
		}
		&--contacts {
			padding: 30px 48px;
		}
		+.form__group {
			margin-top: 35px;
		}
		.form__group {
			padding: 0;
			+.form__group {
				margin-top: 22px;
				&--timetable {
					margin-top: 15px;
				}
			}
		}
		.form__control {
			+.form__control {
				margin-left: 2px;
			}
		}
		&-right {
			margin: 0 0 0 160px;
		}
		&-left {
			width: 160px;
			font-size: 1.71*$font-size;
			float: left;
		}
		&-text {
			float: right;
			width: 313px;
			margin: 9px 0 0;
		}
		&-title {
			padding: 0 48px;
			margin: 30px 0 25px;
			font-weight: bold;
		}		
		&-label {
			display: inline-block;
			vertical-align: top;
			width: 73px;
			font-weight: bold;
		}
		&-field {
			display: inline-block;
			vertical-align: middle;
		}
	}
	&__field {
/* 		display: inline-block;
vertical-align: middle; */
		position: relative;
		+.form__field {			
			margin-top: 9px;
		}
		&-label {
			width: 80px;
			display: inline-block;
			vertical-align: middle;
			font-weight: bold;

		}
		&--helper {
			vertical-align: top;
			width: 18px;
			height: 18px;
			@include border-radius(50%);
			background: $helper-bg;
			text-align: center;
			@include transition(all, 0.3s, linear);
			&:before {
				content: "\003F";
				font-weight: bold;
				color: #fff;
				line-height: 18px;
			}
			&:hover {
				background: $form-control-highlight;
				&:before {
					color: #000;
				}
				.form__field-helper {
					visibility: visible;
					@include opacity(1);
				}
			}
		}
		&-helper {
			visibility: hidden;
			@include opacity(0);
			padding: 19px;
			width: 266px;
			background: $form-control-highlight;
			@include border-radius(15px);
			position: absolute;
			top: -16px;
			left: 22px;
			@include transition(all, 0.3s, linear);
			cursor: default;
			text-align: left;
		}
		&--small {
			width: 208px;
		}
		&--medium {
			width: 250px;
		}
		&--large {
			width: 300px;
		}
	}
	&__control {
		width: 100%;
		height: 33px;
		background: #fff;
		border: 1px solid $form-control-border;
		@include border-radius(13px);
		margin: 0;
		padding: 0 16px !important;
		@include box-sizing(border-box);
		outline: none;
		color: $text-color;
		font-size: $font-size;
		+.form__control {
			margin-left: 8px;
		}
		&.error {
			border: 1px solid $brand-color;
			background: lighten($error, 50%);
		}
		&:hover,
		&:active {
			border: 1px solid $brand-color;
		}
		&--ta {
			height: 85px;
			padding: 8px 16px;
			margin-top: 9px;
			resize: vertical;
		}
		&--small {
			width: 208px;
		}
		&--medium {
			width: 250px;
		}
		&--large {
			width: 300px;
		}
		&--date {
			width: 118px;
			margin: 0 0 0 10px;
		}
		&--time {
			width: 74px;
			margin: 0 0 0 10px;
		}
		&--code {
			width: 50px;
		}
		&--prefix {
			width: 65px;
		}
		&--phone {
			width: 122px;
		}
	}
	&__label {
		display: block;
		margin: 0 0 3px;
		color: $secondary-brand-color;
	}
}

.radio {
	padding: 0 20px 0 0;
	position: relative;
	+.radio {
		margin: 8px 0 0;
	}
	.form__field--helper {
		position: absolute;
		top: 0;
		right: 0;
	}
	&--small {
		width: 208px;
	}
	&--medium {
		width: 250px;
	}
	&--large {
		width: 300px;
	}
	&__input {
		display: none;
		&:checked {
			+.radio__label {
				&:after {
					content: "";
					width: 10px;
					height: 10px;
					@include border-radius(50%);
					background: $brand-color;
					position: absolute;
					top: 3px;
					left: 3px;					
				}
			}
		}
	}
	&__label {
		padding: 0 0 0 28px;
		display: inline-block;
		cursor: pointer;
		position: relative;
		&:before {
			content: "";
			width: 14px;
			height: 14px;
			@include border-radius(50%);
			@include background(linear-gradient(top, lighten($form-control-border, 5%), lighten($form-control-border, 20%)));
			border: 1px solid $form-control-border;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.message-error {
	display: none;
	padding: 17px 50px;
	margin: 6px 0;
	border: 1px solid $brand-color;
	color: $brand-color;
	font-size: 1.14*$font-size;
	@include border-radius(13px);
}