.project-container {
	margin: 0 -15px;
}

.project {
	padding: 20px 15px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&:first-child {
		padding: 12px 15px 20px;
	}
	&:nth-child(2n) {
		border-top: 1px solid $light-color;
		border-bottom: 1px solid $light-color;
		background: lighten($light-color, 4%);
		position: relative;
		&:before,
		&:after {
			content: "";
			width: 100%;
			height: 1px;
			background: #fff;
			position: absolute;
			left: 0;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: -2px;
		}
	}
	&__group {
		float: left;
		text-align: center;
		color: $bg;
		font-size: 1.28*$font-size;
		line-height: 60px;
	}
	&__detail {
		margin: 0 255px 0 80px;
	}
	&__link {
		display: inline-block;
		margin: 0 0 5px 0;
		font-size: 1.28*$font-size;
		color: $link-color;
		&:hover {
			text-decoration: none;
		}
	}
	&__text {
		line-height: 1.2*$line-height;
		color: lighten($text-color, 13%);
	}
	&__status {
		margin: 4px 0 0 20px;
		width: 235px;
		float: right;
		color: mix(darken($light-color, 20%), $text-color);
	}
	&__status-info {
		margin: 9px 0 0;
		&:first-child {
			margin: 0;
		}
		&--new-comments {
			color: $color-new-comment;
		}
		&--new-task {
			color: $colot-new-task;
		}
	}
	&__status-count {
		float: right;
		margin: 0 0 0 9px;
		width: 20px;
	}
}