@import "content__projects";
@import "content__report";

.content {
	width: 100%;
	margin: 50px 0 0;
	background: $bg;
	@include box-sizing(border-box);
	padding: 30px 1px 1px 1px;
	border: 1px solid $light-color;
	position: relative;
	@include border-radius(5px);
	&:first-child {
		margin: 40px 0 0;
	}
	&__title {
		padding: 0 15px 0 20px;
		position: absolute;
		background: $bg;
		top: -20px;
		left: 14px;
		z-index: 1;
		font-size: 1.28*$font-size;
		color: $title-color;
		min-height: 34px;
		line-height: 34px;
		.sortable {
			
		}
	}
	&__helper-count-post,
	&__helper-count-task,
	&__helper-link {
		display: inline-block;
		@include box-shadow(0 0 0 1px $light-color);
		height: 32px;
		line-height: 32px;
		font-size: 0.85*$font-size;
		color: #fff;
		text-align: center;
		text-decoration: none;
		position: relative;
	}
	&__helper-count-post {
		width: 190px;
		margin: 0 0 0 20px;
		background: $btn-important-context;
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-top: 16px solid transparent;
			border-bottom: 16px solid transparent;
			border-right: 14px solid $btn-important-context;
			position: absolute;
			top: 0;
			left: -14px;
		}	
	}
	&__helper-count-task {
		width: 205px;
		margin: 0 0 0 75px;
		@include border-radius(2px);
		background: mix($btn-success-context, darken($btn-success-context, 7%));
		@include background(linear-gradient(top, $btn-success-context, darken($btn-success-context, 7%)));
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-top: 9px solid darken($btn-success-context, 7%);
			border-right: 9px solid transparent;
			border-left: 9px solid transparent;
			position: absolute;
			bottom: -9px;
			left: 50%;
			margin: 0 0 0 -9px;
		}
		&:hover {
			background: mix($btn-success-context, darken($btn-success-context, 17%));
			@include background(linear-gradient(bottom, $btn-success-context, darken($btn-success-context, 7%)));
			&:after {
				border-top: 9px solid $btn-success-context;
			}
		}
		&:active {
			top: 1px;
		}
	}
	&__helper-link {
		width: 190px;
		margin: -5px 15px 0 21px;
		background: mix($btn-default-context, darken($btn-default-context, 7%));
		@include background(linear-gradient(top, $btn-default-context, darken($btn-default-context, 7%)));
		&:before {
			content: "";
			@include triangle-sprite(helper-link);
			position: absolute;
			top: 0;
			right: -14px;
		}
		&:hover {
			background: mix($btn-default-context, darken($btn-default-context, 17%));
			@include background(linear-gradient(bottom, $btn-default-context, darken($btn-default-context, 7%)));
			&:before {
				@include triangle-sprite(helper-link_hover);
			}
		}
		&:active {
			left: 1px;
		}
	}
	&__helper-system-message {
		margin: 0 0 0 40px;
		color: $title-color;
		font-size: $font-size;
	}
}

#map {
	height: 260px;
	width: 100%;
}

.contact {
	margin: 0 0 45px;
	color: $text-color;
	line-height: 23px;
	&__title {
		font-size: 1.28*$font-size;
		color: $title-color;
	}
	&__important {
		font-size: 1.28*$font-size;
		color: $btn-important-context
	}
}