.report-download {
	position: absolute;
	right: 15px;
	bottom: -9px;
	&__xls,
	&__xml,
	&__doc {
		width: 34px;
		height: 21px;
		display: inline-block;
		margin: 0 0 0 9px;
		padding: 3px 0 0;
		font: bold 0.85*$font-size Tahoma, Arial,  sans-serif;
		color: #fff;
		text-align: center;
		text-decoration: none;
		position: relative;
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-top: 7px solid darken($theme-color, 10%);
			border-right: 6px solid transparent;
			border-bottom: 6px solid transparent;
			position: absolute;
			bottom: -6px;
			right: -6px;
		}
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-right: 17px solid transparent;
			border-left: 17px solid transparent;
			position: absolute;
			top: -13px;
			left: 0;
		}
	}
	&__xls {
		background: $xls;
		&:before {
			border-bottom: 13px solid $xls;
		}
	}
	&__xml {
		background: $xml;
		&:before {
			border-bottom: 13px solid $xml;
		}
	}
	&__doc {
		background: $doc;
		&:before {
			border-bottom: 13px solid $doc;
		}
	}	
}

.report {
	margin: 0 -15px;
	position: relative;
	border-bottom: 1px solid $light-color;
	&:after {
		content: "";
		width: 100%;
		height: 1px;
		background: #fff;
		position: absolute;
		top: 100%;
		left: 0;
		margin: 1px 0 0;
	}
	//table
	&__head {
		width: 100%;
		height: 50px;
		background: $light-color;
		margin: 0 0 2px;
		color: $title-color;
	}
	&__id, 
	&__date-close, 
	&__creator, 
	&__theme, 
	&__rating {
		padding: 0 0 0 10px;
	}
	&__id {
		width: 70px;
	}
	&__date-close {
		width: 105px; 
	}
	&__creator {
		width: 205px; 
	}
	&__theme {
		width: 330px;
	}
	&__theme-detail {
		width: 300px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__rating {
		width: 50px;
	}
	&__time {
		text-align: right;
		padding: 0 20px 0 10px;
	}
	//end table
	&__client,
	&__group {
		padding: 8px 20px 8px 10px;
		margin: 0 0 2px;
		font-size: 1.28*$font-size;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	&__client {
		background: $important-message;
	}
	&__group {
		background: $message-bg;
	}
	&__total-time {
		float: right;
	}
	&__work-type {
		background: $bg;
		border-bottom: 1px solid $light-color;
		padding: 12px 20px 12px 10px;
		color: $title-color;
	}
	&__tasks {
		background: $light-color;
	}
	&__task {
		background: $bg;
		border-top: 1px solid #fff;
		width: 100%;
		height: 40px;
		margin: 1px 0 0;
		color: $text-color;
		&:first-child {
			margin: 0;
		}
	}
}

.reports-container {
	margin: 0 -30px;
}

.report-detail {
	width: 420px;
	margin: 0 28px 35px;
	display: inline-block;
	vertical-align: top;
	color: lighten($text-color, 13%);
	&__title {
		font-size: 1.28*$font-size;
	}
	&__text {
		margin: 5px 0 0;
	}
}