.body {
	height: 100%;
	min-width: 1000px;
	background: $bg;
	font: normal $font-size Arial, sans-serif;
	color: $text-color;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
}

h1, .h1,
h2, .h2,
h3, .h3, 
h4, .h4,
h5, .h5,
h6, .h6 {
		line-height: 1.2*$line-height;
		cursor: default;
		font-weight: normal;
		color: $theme-color;
		font-family: Arial, sans-serif;
}

h1, .h1 {
	margin: 0 0 15px;
	font-size: 1.74*$font-size;
}

h2, .h2 {
	margin: 0 0 10px;
	font-size: 1.5*$font-size;
}

h3, .h3 {
	margin: 0 0 8px;
	font-size: 1.28*$font-size;
}
h4, .h4,
h5, .h5,
h6, .h6 {
	margin: 0 0 5px;
	font-size: 1.14*$font-size;
}

img {
	display: inline-block;
	vertical-align: middle;
}

.text {
	ul,
	ol {
		padding: 0;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}
	}
	ul ul,
	ul ol,
	ol ol,
	ol ul {
		margin: 0;
	}
	ul {
		margin: 0 0 20px;
		list-style: none;
		li {
			padding: 0 0 0 16px;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 5px;
				height: 5px;
				margin: 0 8px 0 0;
				background: $theme-color;
			}
		}
	}
	ol {
		margin: 0 0 20px;
		list-style: none;
		counter-reset: point;
		li {
			&:before {
				content: counter(point)".";
				counter-increment: point 1;
				display: inline-block;
				margin: 0 8px 0 0;
				vertical-align: bottom;
				font-size: $font-size;
				color: $theme-color;
			}
		}
	}
	li {
		margin: 0 0 10px;
		line-height: $line-height;
		color: $text-color;
	}
	blockquote,
	q {
		quotes: "\00ab" "\00bb";
	}
	a {
		font: normal $font-size Arial,  sans-serif;
		color: $title-color;
		&:visited {
			color: lighten($title-color, 20%);
		}
		&:hover,
		&:active {
			text-decoration: none;
		}
	}
	p {
		margin: 20px 0 0;
		text-align: left;
		line-height: 1.1*$line-height;
		&:first-child {
			margin: 0;
		}
	}
	sub,
	sup {
		position: relative;
		vertical-align: baseline;
		line-height: 0;
		font-size: 0.75*$font-size;
	}
	sup {
		top: -5px;
	}
	sub {
		bottom: -3px;
	}
	img {
		float: left;
		margin: 0 10px 10px 0;
		height: auto;
		vertical-align: middle;
	}
	dl, dd {
		margin: 0 0 10px;
	}
	dt {
		font-size: 1.14*$font-size;
		color: $theme-color;
		line-height: $line-height;
		display: inline;
	}
	dd {
		display: inline;
	}
	hr {
		margin: 15px 0;
		height: 2px;
		border: 1px solid tint($theme-color, 50%);
		background: #fff;
	}
	strong,
	b {
		font-weight: bold;
		color: darken($text-color, 15%);
	}
	em,
	i {
		font-style: italic;
	}
	abbr {
		font-size: $font-size;
		border-bottom: 1px dotted $light-theme-color;
		cursor: help;
	}
	blockquote {
		padding: 0 0 0 10px;
		margin: 0 0 10px;
		border-left: 3px solid $light-theme-color;
	}
	address {
		display: block;
		margin: 0 0 10px;
		line-height: 0.8*$line-height;
		font-style: italic;
	}
	small {
		font-size: 0.8*$font-size;
	}
	cite {
		font-style: italic;;
	}
	table {
		width: 100%;
		min-width: 100%; 
		margin: 0 0 10px;
		border-collapse: separate;
		border-bottom: 1px solid $theme-color;
		th {
			padding: 4px 15px;
			border-bottom: 1px solid $theme-color;
			background: $light-theme-color;
		}
		td {
			padding: 7px 15px;
			border-left: 1px solid $theme-color;
			color: $text-color;
			&:first-child {
				padding: 7px 13px;
				border-left: none;
			}
		}
		tr {
			&:nth-child(2n + 3) {
				background: lighten($light-theme-color, 8%);
			}
		}
	}
	input[type="text"], 
	input[type="password"],
	input[type="file"],
	textarea,
	select {
		width: 330px;
		height: 30px;
		padding: 0 10px;
		margin: 0 0 10px;
		border: 1px solid $light-color;
		border-top: 0;
		@include box-sizing(border-box);
		@include border-radius(3px);
		@include box-shadow(2px 2px 7px rgba(0,0,0,0.2) inset);
		@include transition(all, 0.2s);
		background: #fff;
		font: normal $font-size Tahoma, Arial, sans-serif;
		color: $text-color;
		&:focus,
		&:hover {
			border-bottom: 1px solid $theme-color;
			border-right: 1px solid lighten(tint($theme-color, 30%), 10%);
			border-left: 1px solid lighten(tint($theme-color, 30%), 10%);
			@include box-shadow(2px 2px 7px rgba($light-theme-color, 0.9) inset);
			outline: none;
		}
	}
	textarea {
		min-height: 85px;
		resize: vertical;
	}
	label {
		color: $text-color;
	}
	input[type="radio"] {
		display: none;
		+label {
			position: relative;
			cursor: pointer;
			&:before {
				content: "";
				margin: 0 5px;
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 8px;
				@include border-radius(50%);
				@include box-shadow(0 0 4px 0 rgba(0,0,0,.5));
				background: mix(#999, #777);
				@include background(linear-gradient(top, #999, #777));
			}
		}
		&:checked {
			+label {
				&:before {
					background: mix($light-theme-color, $theme-color);
					@include background(linear-gradient(top, $light-theme-color, $theme-color));
					@include box-shadow(0 0 4px 0 rgba(0,0,0,.5));
				}
			}
		}
	}
	input[type="submit"] {
		padding: 6px 21px;
		margin: 10px;
		border: 1px solid $light-color;
		@include border-radius(3px);
		background: mix($light-theme-color, darken($light-theme-color, 10%));
		@include background(linear-gradient(top, $light-theme-color, darken($light-theme-color, 10%)));
		position: relative;
		cursor: pointer;
		font: normal $font-size Arial, sans-serif;
		color: $theme-color;
		@include transition(all, 0.2s);
		&:focus,
		&:hover {
			background: mix($light-theme-color, darken($light-theme-color, 30%));
			@include background(linear-gradient(top, darken($light-theme-color, 10%), $light-theme-color));
			outline: none;
			color: $text-color;
		}
		&:active {
			position: relative;
			top: 1px;
		}
	}
}