$bg: #fff;

$font-size: 14px;
$line-height: 1.2;
$text-color: #666;
$light-color: #dce8eb;

//theme-color
$theme-color: #3d6b79;
$dark-theme-color: #08252d;
$light-theme-color: #52808c;

//link
$link-color: #1173a5;
$link-color-light: #0071bc;
$link-action-color: #7eacb4;

//title
$title-color: #7eacb4;

//reply
$reply-title-bg: #f3f7f8;
$reply-new-bg: #f1f9e2;
$reply-hidden-bg: #e5eef0;
$reply-system-bg: #fefcd3;

//btn
$btn-default-color: #94bbc2;
$btn-important-color: #ed1c24;
$btn-success-color: #acd951;
$btn-medium-color: #fbaf3a;
$btn-user-color: #0e2c34;

$btn-important-context: #d51920;
$btn-success-context: #a5d542;
$btn-default-context: #94bac1;

//menu
$menu-text-color: #d8ecf6;
$menu-active: #7dabb4;

//message
$important-message: #fbe1df;
$success-message: #d9eeb0;
$hold-message: #dce8eb;
$close-message: #e9eced;
$wait-message: #fdf4d3;

$message-bg: #fbfbfb;
$message-bg_hover: #e3ecef;

//task
$task-bg: #fbfbfb;

//load
$progress-download: #1a8dc9;

//project-status
$color-new-comment: #8ecb11;
$colot-new-task: #be161d;

//cube
$cube-color: #c4d9dd;

//pagination
$pagintaion-arrow: #95a4a5;

//task-point-completed
$task-point-completed: #8ecb11;

$success-message-text: #8ecb11;
$important-message-text: #f8a4a7;
$hold-message-text: #95bbc2;
$close-message-text: #95bbc2;
$wait-message-text: #ddb72a;

//document
$xls: #6cb13c;
$xml: #fbb03b;
$doc: #4069b0;

//calendar
$calendar-width: 180px;
$today-background: #fbe1df;
$pmu-disabled: #c5cdce;

//create message
$create-message-from: #c61b22;
$create-message-to: #d31d23;

//radio
$radio-check-from: #e71b23;
$radio-check-to: #c1161d;

$radio-border-from: #ecf2f4;
$radio-border-to: #acc9cf;

$radio-default-from: #82afb6;
$radio-default-to: #b9d2d6;

//form-control
$form-control-border: #d0e1e4;
$form-control-text: #808080;
$form-control-bg: #f3f7f8;