@import "compass/reset";
@import "compass/css3";

$icons-spacing: 2px;
$icons-sprite-dimensions: true;
@import "icons/*.png";
@include all-icons-sprites;

$triangle-spacing: 2px;
$triangle-sprite-dimensions: true;
@import "triangle/*.png";
@include all-triangle-sprites;