.browser-error {
	font-size: 2*$font-size;
	color: #e06868;
	text-align: center;
	a {
		font-size: 2*$font-size;
	}
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.link {
	color: $link-color;
	&:hover {
		text-decoration: none;
	}
}

.link-action {
	color: $link-action-color;
	&:hover {
		text-decoration: none;
	}
}

.link-light {
	color: $link-color-light;
	&:hover {
		text-decoration: none;
	}
}

.arrow-right,
.arrow-left  {
	position: relative;
	padding: 0 16px 0 0;
	&:after {
		position: absolute;
		top: 0;
		line-height: $line-height;
	}
}

.arrow-right {
	&:after {
		content: "\2192";
		right: 0;
	}
}

.arrow-left {
	&:after {
		content: "\2190";
		left: 0;
	}
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.justify {
	text-align: justify;
	font-size: 0;
	line-height: 0;
	&__item {
		display: inline-block;
		vertical-align: bottom;
	}
	&:after {
		content: "";
		width: 100%;
		display: inline-block;
	}
}

.light-text {
	color: lighten($text-color, 13%);
}

.dark-text {
	color: darken($text-color, 15%);	
}

.time {
	padding: 0 3px;
	font-size: 1.28*$font-size;
	color: darken($text-color, 20%);
}

.hidden {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.table-cell {
	display: table-cell;
	vertical-align: top;
}

.pseudolink {
	border-bottom: 1px dashed;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		border-bottom: 1px solid transparent;
	}
}

.psy-container {
	position: relative;
}