.chosen-container {
	display: inline-block;
	vertical-align: middle;
	padding: 0 30px 0 12px;
	text-align: left;
	cursor: pointer;
	&.chosen-container-active {
		background: #fff;
		@include box-shadow(0 0 7px 0 darken($light-color, 8%) inset);
	}
}

.chosen-container-multi {
	min-height: 30px;
	height: auto;
	padding: 0;
	&:before {
		content: "+";
		width: 34px;
		height: 28px;
		color: $link-action-color;
		font-size: 1.28*$font-size;
		text-align: center;
		line-height: 28px;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.search-choice {
		width: 100%;
		padding: 0 34px;
		height: 28px;
		line-height: 28px;
		@include box-sizing(border-box);
		position: relative;
		+ .search-choice {
			border-top: 1px solid $light-color;
		}
	}
	.search-choice-close {
		width: 34px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 1.28*$font-size;
		text-align: center;
		line-height: 28px;
		color: $link-action-color;
		&:before {
			content: "\00D7";
		}
	}
	.result-selected {
		padding-right: 20px;
		position: relative;
		&:before {
			content: "\2713";
			width: 20px;
			height: 28px;
			position: absolute;
			top: 0;
			right: 0;
			line-height: 28px;
			color: $link-action-color;
			font-size: 1.42*$font-size;
		}
	}
}

.chosen-single {
	span {
		display: block;
		line-height: 28px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	div {
		position: absolute;
		top: 0;
		right: 0;
		width: 25px;
		height: 28px;
		border-left: 1px solid darken($light-color, 2%);
		background: mix(darken($light-color, 4%), darken($light-color, 8%));
		@include background(linear-gradient(top, darken($light-color, 4%), darken($light-color, 8%)));
		@include border-radius(0 3px 3px 0);
		@include transition(all, 0.2s);
		&:hover {
			background: mix(darken($light-color, 20%), darken($light-color, 12%));
			@include background(linear-gradient(top, darken($light-color, 20%), darken($light-color, 12%)));
			b {
				border-top: 5px solid #fff;
			}
		}
		b {
			width: 0;
			height: 0;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			border-top: 5px solid #fff;
			position: absolute;
			top: 12px;
			right: 8px;
		}		
	}
}

.chosen-drop {
	width: 100%;
	padding: 0 1px;
	margin: 7px 0 0;
	background: #fff;
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 2;
	@include box-shadow(0 0 7px 0 rgba($theme-color, 0.7));
	&:before {
		content: "";
		@include triangle-sprite(select);
		position: absolute;;
		right: 7px;
		top: - triangle-sprite-height(select);
	}
}

.chosen-with-drop {
	.chosen-drop {
		left: -1px;
	}
	.chosen-single div {
		background: mix(darken($light-color, 20%), darken($light-color, 12%));
		@include background(linear-gradient(top, darken($light-color, 20%), darken($light-color, 12%)));
		&:hover {
			b {
				border-bottom: 5px solid #fff;
				border-top: 0;
			}
		}
		b {
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			border-bottom: 5px solid #fff;
			border-top: 0;
		}
	}
}

.chosen-results {
	margin: 6px 5px;
	max-height: 300px;
	overflow-y: auto;
}

.chosen-search,
.search-field {
	padding: 5px 5px 0;
	input[type="text"] {
		height: 30px;
		padding: 0 12px;
		width: 100% !important;
		box-sizing: border-box;
		border-top: 1px solid $form-control-border;
		border-right: 1px solid lighten($form-control-border, 5%);
		border-bottom: 1px solid lighten($form-control-border, 5%);
		border-left: 1px solid $form-control-border;
		@include box-shadow(1px 1px 5px 1px $light-color inset);
		font: normal $font-size Arial, sans-serif;
		color: lighten($text-color, 13%);
		&:focus,
		&:hover {
			outline: none;
			background: $bg;
			@include box-shadow(0 0 7px 0 darken($light-color, 3%) inset);
		}
	}
}

.active-result,
.result-selected {
	padding: 6px;
	line-height: 1;
	margin: 0 0 1px;
	&:hover{
		background: $form-control-bg;
	}
}

.result-selected {
	background: $form-control-bg;	
}

.chosen-container-single-nosearch {
	.chosen-search,
	.search-field {
		display: none;
	}
}

.result-search-counter {
	background: lighten($bg, 3%);
	padding: 7px 12px;
	position: absolute;
	top: 100%;
	left: 50%;
	margin: 15px 0 0 -24px;
	@include box-shadow(0 0 5px rgba($theme-color, 0.2));
	text-align: left;
	white-space: nowrap;
	&:before {
		content: "";
		@include triangle-sprite(helper);
		position: absolute;
		top: -12px;
		left: 15px;
	}
}

.form--sortable {
	.chosen-container {
		margin: 0 10px;
		padding: 0 25px 0 12px;
		background: $message-bg;
		@include box-shadow(none);
		color: #0071bc;
		&.chosen-container-active {
			@include box-shadow(none);
		}
	}

	.chosen-single {
		div {
			width: 20px;
			border: none;
			background: none;
			@include border-radius(none);
			&:hover {
				background: none;
				b {
					border-top: 6px solid $link-color-light;
				}
			}
			b {
				border-top: 6px solid $link-color-light;
			}		
		}
	}

	.chosen-with-drop {
		.chosen-single div {
			background: none;
			&:hover {
				b {
					border-top: 0;
					border-bottom: 6px solid $link-color-light;
				}
			}
			b {
				border-top: 0;
				border-bottom: 6px solid $link-color-light;
			}
		}
	}
}