.pickmeup {
	background: #fff;
	margin: 6px 0 0;
	display: none;
	position: absolute;
	z-index: 1;
	@include box-shadow(0 0 7px rgba($theme-color, 0.7));
	&:before {
		content: "";
		@include triangle-sprite(select);
		position: absolute;
		top: - triangle-sprite-height(select);
		left: 7px;
	}
	&:not(.pmu-view-days) .pmu-days,
	&:not(.pmu-view-days) .pmu-day-of-week,
	&:not(.pmu-view-months) .pmu-months,
	&:not(.pmu-view-years) .pmu-years {
		display: none;
	}
}

.pmu-instance {
	width: 180px;
	padding: 14px 18px 26px;
	.pmu-button {
		color: $title-color;
		cursor: pointer;
		outline: none;
		text-decoration: none;
	}
	.pmu-today {
		background: $today-background;
	}
	.pmu-not-in-month {
		color: $pmu-disabled;
	}
	.pmu-disabled,
	.pmu-disabled:hover {
		cursor: default;
	}
	.pmu-selected {
		background: $light-color;
	}
	nav {
		margin: 0 0 12px;
		color: $title-color;
		padding: 0 10px;
		@include box-sizing(border-box);
		position: relative;
		.pmu-prev,
		.pmu-next {
			color: $pmu-disabled;
			width: 10px;
			position: absolute;
			top: 0;
			&:hover {
				color: $title-color;
			}
		}
		.pmu-prev {
			left: 0;
		}
		.pmu-next {
			right: 0;
		}
		.pmu-month {
			text-align: center;
		}
	}
	.pmu-days,
	.pmu-day-of-week {
		margin: 0 (-($calendar-width - 21*7)/12);
		div {
			width: 18px;
			height: 19px;
			padding: 0 1px 0 0;
			line-height: 19px;
			border: 1px solid transparent;
			margin: 0 ($calendar-width - 21*7)/12 2px;
			display: inline-block;
			text-align: right;
		}
	}
	.pmu-day-of-week {
		padding: 0 0 3px;
		color: $title-color;
		cursor: default;
		font-size: $font-size;
		line-height: $line-height;
		border-bottom: 1px solid $title-color;
	}
	.pmu-days {
		padding: 6px 0 0;
		.pmu-button {
			&:hover {
				border: 1px solid $btn-important-context;
			}
		}			
	}
	.pmu-months,
	.pmu-years {
		margin: 0 -4px;
		.pmu-button {
			display: inline-block;
			width: ($calendar-width - 4*2 - 24) /4;
			margin: 0 4px;
			padding: 3px 0;
			border: 1px solid transparent;
			text-align: center;
			&:hover {
				border: 1px solid $btn-important-context;
			}
		}
	}
	.pmu-saturday,
	.pmu-sunday {
		&:not(.pmu-not-in-month) {
			color: lighten($btn-important-context, 5%);
		}
	}
}