.task {
	font-size: 0;
	&__detail {
		font-size: $font-size;
		display: inline-block;
		vertical-align: top;
		width: 633px;
		margin: 0 0 0 30px;
	}
	&__detail-create,
	&__detail-watch {
		display: inline-block;
		vertical-align: top;
		margin: 0 0 6px;
	}
	&__detail-create {
		width: 350px;		
	}
	&__detail-watch {
		width: 279px;
	}
	&__title,
	&__index {
		font-size: 1.28*$font-size;
		color: darken($text-color, 20%);
	}
	&__title {
		margin: 6px 0 13px;
	}
	&__secondary-title {
		font-size: $font-size;
		margin: 10px 0;
		color: darken($text-color, 20%);
	}
	&__status-info {
		font-size: $font-size;
		display: inline-block;
		vertical-align: top;
		width: 390px;
		margin: 0 0 0 15px;
		.task-info {
			margin: 0 0 0 75px;
		}
	}
	&__status-title {
		padding: 6px 17px;
		margin: 0 0 9px;
		font-size: 1.28*$font-size;
		color: lighten($text-color, 13%);
		position: relative;
		&--work {
			background: $success-message;
		}
		&--add-info {
			background: $important-message;
		}
		&--close {
			background: $close-message;
		}		
	}
	&__status-info-detail {
		font-size: $font-size;
		margin: 8px 0 4px 17px;
		line-height: 1.15*$line-height;
	}
	&__check-list {
		font-size: $font-size;
		margin: 0 0 17px;
		counter-reset: point;
	}
	&__check-list-point {
		font-size: $font-size;
		margin: 6px 0;
		&:before {
			content: counter(point) ". ";
			counter-increment: point 1;
		}
		&--completed {
			color: $task-point-completed;
			text-decoration: line-through;
			&:before {
				color: $task-point-completed;
				text-decoration: line-through;
			}
		}
	}
}

.task-info {
	p {
		margin: 0 0 2px;
	}
	td {
		line-height: 1.2*$line-height;
		vertical-align: top;
		color: lighten($text-color, 13%);
		padding: 2px 0;
		&:first-child {
			padding: 2px 10px 2px 0;
			color: $text-color;
			white-space: nowrap;
		}
	}
	&__prioritet {
		padding: 0 0 0 17px;
		position: relative;
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			@include border-radius(50%);
			position: absolute;
			top: 3px;
			left: 0;
		}
		&--high {
			color: $btn-important-context;
			&:before {
				@include background(linear-gradient(bottom, $btn-important-context, lighten($btn-important-context, 10%)));
				background-color: mix($btn-important-context, lighten($btn-important-context, 10%));
			}
		}
		&--middle {
			color: darken($btn-success-context, 10%);
			&:before {
				@include background(linear-gradient(top, $btn-success-context, darken($btn-success-context, 10%)));
				background-color: mix($btn-success-context, darken($btn-success-context, 10%));
			}
		}
		&--low {
			color: lighten($text-color, 13%);
			&:before {
				@include background(linear-gradient(top, lighten($text-color, 50%), lighten($text-color, 13%)));
				background-color: lighten($text-color, 13%);
			}
		}
	}
}

.reply {
	&:last-child {
		@include border-radius(0 0 5px 5px);
		overflow: hidden;
	}
	&__title {
		background: $reply-title-bg;
		margin: 0 0 1px;
		padding: 6px 30px;
		position: relative;
		.file {
			margin: 8px 0 7px 38px;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	&__helper {
		color: $link-action-color;
		height: 34px;
		position: absolute;
		top: 0;
		right: 30px;
		line-height: 34px;
	}
	&__helper-time-current {
		margin: 0 0 0 10px;
	}
	&__helper-time {
		
	}
	&__helper-time-change {

	}
	&__secondary-title {
		margin: 20px 0;
		color: darken($text-color, 15%);
	}
	&__index {
		font-size: 1.28*$font-size;
		color: $link-color;
		margin: 0 2px 0 0;
		a {
			font-size: 1.28*$font-size;
		}
	}
	&__detail {
		padding: 15px 30px 30px;
		color: lighten($text-color, 15%)
	}
	&--new {
		.reply {
			&__detail,
			&__title {
				background: $reply-new-bg;
			}
		}
	}
	&--hidden {
		.reply {
			&__detail,
			&__title {
				background: $reply-hidden-bg;
			}
		}
	}
	&--system {
		.reply {
			&__title {
				cursor: pointer;
			}
			&__detail {
				display: none;
			}
			&__detail,
			&__title {
				background: $reply-system-bg;
			}
		}
	}
}

.file {
	margin: 18px 0 17px 0;
	color: $title-color;
}

.timer {
	&__action {
		width: 138px;
		padding-right: 40px;
		position: relative;
		&:before {
			content: "\25B6";
			width: 16px;
			padding: 0 0 0 4px;
			height: 20px;
			@include border-radius(50%);
			@include background(linear-gradient(bottom, $btn-success-color, darken($btn-success-color, 10%)));
			background-color: mix($btn-success-color, darken($btn-success-color, 10%));
			color: #fff;
			line-height: 20px;
			text-align: center;
			font-size: 1.2*$font-size;
			position: absolute;
			top: 8px;
			right: 10px;
		}
	}
	&__action--pause {
		&:before {
			content: "||";
			width: 20px;
			padding: 0;
			font-size: $font-size;
			font-weight: bold;
			line-height: 18px;
		}
	}
	&__time {
		margin: 0 0 0 12px;
		color: darken($btn-success-color, 10%);
	}
}

.task-edit {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin: 0 0 0 28px;
	border: 1px solid $light-color;
	@include border-radius(2px);
	text-align: center;
	line-height: 18px;
	position: relative;
	cursor: pointer;
	&:before {
		content: "";
		@include icons-sprite(edit__task);
		display: inline-block;
		vertical-align: middle;
	}
}