.message {
	padding: 15px 30px;
	@include transition(all, 0.2s);
	font-size: 0;
	+ .message {
		border-top: 1px solid $light-color;
		margin-top: 1px;
	}
	&:hover {
		background: $message-bg_hover;
	}
	&:nth-child(2n) {
		background: $message-bg;
		position: relative;
		@include transition(all, 0.2s);
		&.message--new {
			background: lighten($important-message, 5%);
			.status__work {
				background: $important-message;
				.status__work-type {
					color: $important-message-text;
				}
				.status-info {
					background: $btn-important-context;
					&:after {
						border-left: 14px solid $btn-important-context;
					}
				}
				.message-show-and-hide {
					&:hover {
						background: darken($important-message, 5%);
					}
				}
			}
		}
		&:hover {
			background: $message-bg_hover;
		}
	}
	&:last-child {
		@include border-radius(0 0 5px 5px);
		overflow: hidden;
	}
	&--new {
		background: lighten($important-message, 5%);
		.status__work {
			background: $important-message;
			.status__work-type {
				color: $important-message-text;
			}
			.status-info {
				background: $btn-important-context;
				&:after {
					border-left: 14px solid $btn-important-context;
				}
			}
			.message-show-and-hide {
				&:hover {
					background: darken($important-message, 5%);
				}
			}
		}
	}
	&__aside,
	&__detail {
		@include box-sizing(border-box);
		font-size: $font-size;
		display: inline-block;
		vertical-align: top;
	}
	&__aside {
		width: 26%;
		padding: 0 20px 0 0;	
	}
	&__detail {
		width: 74%;
	}
	&__head {
		font-size: 1.28*$font-size;
		color: darken($text-color, 20%);
		position: relative;
		height: 34px;
		line-height: 34px;
		margin: 0 0 6px;
		clear: both;
	}
	&__date {
		margin: 0 15px;
		color: lighten($text-color, 13%);
		font-size: $font-size;
	}
	&__group {
		float: right;
		width: 45px;
		background: $light-color;
		text-align: center;
		color: mix(darken($light-color, 20%), $text-color);
	}
	&__title {
		margin: 0 0 5px;
		font-size: 1.28*$font-size;
	}
	&__title-link {
		color: $link-color;
		&:hover {
			text-decoration: none;
		}
	}
	&__text {
		margin: 5px 0 0;
		line-height: 1.2*$line-height;
		font-size: $font-size;
		color: lighten($text-color, 13%);
	}
	//Сообщения в списке проектов
	&--project {
		.message {
			&__aside {
				width: 285px;
			}
			&__detail {
				width: 618px;
				margin: 0 0 3px 310px;
			}
		}
	}
	//Сообщения в ленте новостей
	&--list {
		padding: 30px 0 0;
		&:hover {
			background: 0;
			cursor: default;
		}
		&:first-child {
			padding: 0;
		}
		&:nth-child(2n) {
			border: 0 !important;
			background: 0 !important;
			&:before,
			&:after {
				display: none !important;
			}
		}
		.status {
			height: 30px;
			line-height: 30px;
			margin: 0 0 14px;
			padding: 0 31px 0 30px;
			font-size: $font-size;
			color: lighten($text-color, 13%);
		}
	}
}

.message-show-and-hide {
	width: 30px;
	height: 30px;
	background: transparent;
	border-left: 1px solid $bg;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	&:hover {
		background: saturate(darken($success-message, 10%), 10%);
	}
}

.status {
	height: 34px;
	margin: 0 0 18px;
	padding: 0 0 0 60px;
	position: relative;
	line-height: 34px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	&--message {
		padding: 0;
		.status__work {
			padding-left: 30px;
			margin-left: -30px;
		}
	}
	&__work {
		padding: 0 0 0 15px;
		background: $success-message;
		font-size: 1.28*$font-size;
		&--important {
			background: $important-message;
			.status__work-type {
				color: $important-message-text;
			}
			.status-info {
				background: $btn-important-context;
				&:after {
					border-left: 14px solid $btn-important-context;
				}
			}
			.message-show-and-hide {
				&:hover {
					background: darken($important-message, 5%);
				}
			}
		}
		&--hold {
			background: $hold-message;
			.status__work-type {
				color: $hold-message-text;
			}
			.status-info  {
				background: $btn-success-context;
				&:after {
					border-left: 14px solid  $btn-success-context;
				}
			}
			.message-show-and-hide {
				&:hover {
					background: darken($hold-message, 8%);
				}
			}
		}
		&--close {
			background: $close-message;
			.status__work-type {
				color: $close-message-text;
			}
			.status-info {
				background: $btn-success-context;
				&:after {
					border-left: 14px solid  $btn-success-context;
				}
			}
			.message-show-and-hide {
				&:hover {
					background: darken($close-message, 8%);
				}
			}
		}
		&--wait {
			background: $wait-message;
			.status__work-type {
				color: $wait-message-text;
			}
			.status-info   {
				background: $btn-success-context;
				&:after {
					border-left: 14px solid  $btn-success-context;
				}
			}
			.message-show-and-hide {
				&:hover {
					background: darken($wait-message, 8%);
				}
			}
		}
	}
	&__work-type {
		float: right;
		padding: 0 12px 0 0;
		color: $success-message-text;
		font-size: $font-size;
	}
	&__group {
		width: 55px;
		background: $light-color;
		color: mix(darken($light-color, 20%), $text-color);
		position: absolute;
		top: 0;
		left: 0;	
		text-align: center;
		font-size: $font-size;
	}
}

.status-info {
	position: absolute;
	top: 0;
	left: -39px;
	height: 34px;
	width: 19px;
	background: $btn-success-context;
	padding: 0 4px 0 0;
	color: #fff;
	text-align: right;
	font-size: $font-size;
	line-height: 35px;
	font-weight: bold;
	text-decoration: none;
	&:after {
		content: "";
		width: 0;
		height: 0;
		border-top: 17px solid transparent;
		border-bottom: 17px solid transparent;
		border-left: 14px solid  $btn-success-context;
		position: absolute;
		top: 0;
		left: 23px; 
	}
	&:before {
		content: "";
		width: 0;
		height: 0;
		border-top: 3px solid darken($theme-color, 7%);
		border-right: 4px solid darken($theme-color, 7%);
		border-bottom: 3px solid transparent;
		border-left: 3px solid transparent;
		position: absolute;
		top: 34px;
		left: 0;
	}
	&:hover {
		+ .status-info-help {
			opacity: 1;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			left: -23px;
		}
	}		
}

.info-help,
.status-info-help {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	padding: 7px 13px;
	background: #fff;
	@include box-shadow(0 0 5px rgba($theme-color, 0.5));
	line-height: $line-height;
	font-size: $font-size;
	color: lighten($text-color, 13%);
	position: absolute;
	left: -9999px;
	top: 100%;
	margin: 8px 0 0 -16px;
	@include transition(opacity 0.5s);
	&:before {
		content: "";
		@include triangle-sprite(helper);
		position: absolute;
		top: - triangle-sprite-height(helper);
		left: 6px;
	}
	&:after {
		content: "";
		width: 100%;
		height: 10px;
		position: absolute;
		top: -9px;
		left: 0;
	}
}

.info-help {
	width: 150px;
	&:hover {
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		left: 50%;
	}	
}

.info-help-hover {
	position: relative;
	&:hover {
		.info-help {
			opacity: 1;
			filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			left: 50%;
		}
	}	
}

.status-info-help {
	width: 215px;
	&:hover {
		opacity: 1;
		filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		left: -7px;
	}
}

.work-animate {
	padding: 0 36px 0 15px; 
	&:after {
		content: "";
		width: 36px;
		height: 100%;
		border-left: 1px solid $bg;
		background: url("/assets/img/work-animate.gif") 50% 50% no-repeat;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.rating {
	margin: 7px 0 0;
	color: lighten($text-color, 13%);
	&__level,
	&__level-point,
	&__level-text,
	&__edit {
		display: inline-block;
		vertical-align: middle;
	}
	&__level {
		margin: -2px 0 0;
		padding: 3px;
		border: 1px dotted transparent;
	}
	&__level-point {
		
	}
	&__level-text {

	}
	&__edit {
		margin: 0 10px;
		cursor: pointer;
	}	
}
