.task-create {
	&__step {
		margin: 32px 0 0;
		&:first-child {
			margin: 0;
		}
	}
	&__title {
		padding: 6px 18px;
		margin: 0 -15px 20px;
		background: $task-bg;
	}
}

.create-task-support-text {
	margin: -10px 0 15px;
}