.upload-file {
	margin: 20px 0;
	display: none;
	color: $title-color;
	&__item {
		margin: 14px 0;
		&:first-child {
			margin: 0;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
	&__title {
		display: inline-block;
		padding: 0 30px 0 45px;
		position: absolute;
		top: -10px;
		left: 30px;
		z-index: 1;
		background: $bg;
		font-size: 1.28*$font-size;
		color: $title-color;
	}
	&__action {
		margin: 0 8px 0 0;
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}
	&__link {
		width: 445px;
		display: inline-block;
		vertical-align: top;
	}
	&__size-file {
		margin: 0 0 0 20px;
	}
	&__progress {
		float: right;
	}
	&__drag {
		padding: 33px 30px 32px 75px;
		margin: 36px 0 22px;
		border:1px dashed darken($light-color, 5%);
		background: mix($bg, darken($bg, 6%));
		@include background(linear-gradient(top, $bg, darken($bg, 6%)));
		position: relative;
	}
}

.progress-download {
	width: 130px;
	height: 13px;
	margin: 0 0 0 3px;
	border: 1px solid $light-color;
	background: mix($btn-default-color, lighten($btn-default-color, 15%));
	@include background(linear-gradient(top, $btn-default-color, lighten($btn-default-color, 15%)));
	vertical-align: middle;
}

::-webkit-progress-bar {
	@include background(linear-gradient(top, $btn-default-color, lighten($btn-default-color, 15%)));
}

::-webkit-progress-value {
	@include background(linear-gradient(bottom, $progress-download, darken($progress-download, 6%)));
}

::-moz-progress-bar {
	@include background(linear-gradient(top, $btn-default-color, lighten($btn-default-color, 15%)));	
}

.add-file {
	position: absolute;
	right: 17px;
	bottom: 15px;
	z-index: 1;
}

.helper-on {
	display: block;
	&:hover {
		+ .helper-info {
			opacity: 1;
			visibility: visible;
		}
	}
}

.helper-info {
	padding: 5px 15px;
	margin: 15px 0 0 -11px;
	background: lighten($bg, 3%);
	@include box-shadow(0 2px 5px 2px rgba($theme-color, 0.2));
	@include transition(all, 0.3s);
	opacity: 0;
	visibility: hidden;
	position: absolute;
	z-index: 2;
	top: 100%;
	left: 50%;
	white-space: nowrap;
	color: lighten($text-color, 15%);
	font: normal $font-size Arial, sans-serif;
	&:before {
		content: "";
		@include triangle-sprite(helper);
		position: absolute;
		top: -12px;
		left: 2px;
	}
}

.upload-file-drag {
	display: none;
	padding: 37px 0 0;
	width: 100%;
	height: 100%;
	background: rgba($title-color, 0.7);
	border: 2px dashed lighten($theme-color, 13%);
	@include border-radius(5px);
	position: absolute;
	top: -37px;
	left: 0;
	z-index: 2;
	color: #fff;
	font-size: 2*$font-size;
	&:before {
		content: "Перетащите один или несколько файлов в эту область";
		width: 530px;
		height: 160px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		text-align: center;
	}
	&:after {
		content: "";
		@include icons-sprite(upload-file-drag);
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin: 14px auto;
	}		
}