.aside-article {
	padding: 25px 15px;
	margin: 0 0 41px;
	border: 1px solid $light-color;
	@include border-radius(5px);
	position: relative;
	&__title {
		display: inline-block;
		padding: 0 21px 0 27px;
		position: absolute;
		top: -12px;
		z-index: 1;
		background: $bg;
		font-size: 1.5*$font-size;
		color: $title-color;
	}
	&--important {
		.status-info  {
			background: $btn-important-context;
			font-size: 1.35*$font-size;
			top: -5px;
			&:after {
				border-left: 14px solid $btn-important-context;
			}
		}
	}
}

.aside-news {
	padding: 23px 0 0;
	margin: 16px 0 0;
	border-top: 1px solid $light-color;
	&__date {
		margin: 0 0 6px;
	}
	&__title {
		color: $link-color;
		margin: 0 0 6px;
	}
	&:first-child {
		padding: 0;
		margin: 0;
		border-top: 0;
	}
}