.nav-line {
	width: 100%;
	background: $theme-color;
	position: relative;
	&:after {
		content: "";
		width: 100%;
		height: 15px;
		background: $bg;
		position: absolute;
		bottom: 0;
		left: 0;
		@include box-shadow(0 -6px 7px -3px rgba(0,0,0,.2));
	}
}

.nav-wrap {
	width: 960px;
	margin: 0 auto;
	text-align: justify;
	font-size: 0px;
	line-height: 0;
	&:after {
		content: "";
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}

.menu {
	display: inline-block;
	vertical-align: middle;
	&__point {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		margin: 0 0 0 2px;
		&:before,
		&:after  {
			content: "";
			width: 0;
			height: 100%;
			position: absolute;
			top: 0;
		}
		&:before {
			border-left: 1px solid darken($light-color, 15%);
			border-right: 1px solid mix($theme-color, $dark-theme-color);
			left: -2px;
		}
		&:first-child {
			&:before{
				border-left: 1px solid mix($theme-color, $dark-theme-color);
				border-right: 1px solid darken($light-color, 15%);
				display: none;
			}
		}
		&:hover {
			&:before {
				border-left: 1px solid mix($theme-color, $dark-theme-color);
				border-right: 1px solid darken($light-color, 15%);
				left: -2px;
			}
			&:after {
				border-right: 1px solid mix($theme-color, $dark-theme-color);
				border-left: 1px solid darken($light-color, 15%);
				right: -2px;
			}
			&:first-child {
				&:before{
					display: block;
				}
			}
		}
	}
	&__link {
		display: inline-block;
		vertical-align: middle;
		padding: 27px 25px 35px;
		background: $theme-color;
		color: $menu-text-color;
		text-decoration: none;
		font-size: 1.17*$font-size;
		line-height: $line-height;
		position: relative;
		&:first-child {
			border-left: 0;
		}
		&.active,
		&:hover {
			background: mix($light-theme-color, $menu-active);
			@include background(linear-gradient(top, $light-theme-color, $menu-active));
			&:after {
				content: "";
				@include triangle-sprite(active-point);
				position: absolute;
				bottom: 0;
				left: 50%;
				margin-left: -(triangle-sprite-width(active-point)/2);
				z-index: 1;
			}
		}
	}
}

.counter-new-posts {
	display: block;
	width: 19px;
	height: 19px;
	@include border-radius(50%);
	background: $btn-important-context;
	position: absolute;
	top: 27px;
	left: 16px;
	font-size: 0.71*$font-size;
	line-height: 19px;
	text-align: center;
	color: $light-color;
}

.create-message {
	display: inline-block;
	vertical-align: bottom;
	width: 204px;
	height: 38px;
	margin: 0 0 15px  0;
	background: mix($create-message-from, $create-message-to);
	@include background(linear-gradient(top, $create-message-from, $create-message-to));
	@include box-shadow(0 0 9px 2px rgba(0,0,0,.5));
	position: relative;
	color: $light-color;
	text-decoration: none;
	line-height: 32px;
	font-size: $font-size;
	text-align: center;
	&:before {
		content: "";
		@include triangle-sprite(create-message);
		position: absolute;
		top: -22px;
		left: -8px;
	}
}