.footer-buffer {
	height: 112px;
}

.footer-line {
	height: 65px;
	min-width: 1000px;
	width: 100%;
	background: $light-color;
}

.footer {
	height: 40px;
	width: 960px;
	padding: 25px  0 0;
	margin: -65px auto 0;
}