.header-line {
	width: 100%;
	background: $dark-theme-color;
}

.header {
	padding: 9px 0 10px;
	width: 960px;
	margin: 0 auto;
	color: $light-color;
	&__logo,
	&__cabinet-section {
		display: inline-block;
		vertical-align: middle;
	}
	&__logo {
		margin: 0 8px 0 11px;
	}
	&__cabinet-section {
		margin: 0 29px 0 0;
	}
	&__user-name {
		margin: 13px 32px 0 0;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
	.btn-logout {
		margin: 3px 0 0;
	}
}
