.modal-show {
	overflow: hidden;
	.modal-wrap {
		left: 0;
	}
}

.modal-wrap {
	width:100%;
	height: 100%;
	@include box-sizing(border-box);
	position: fixed;
	top: 0;
	left: -9999px;
	z-index: 10;
	overflow-y: auto;
}

.overlay {
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	background: rgba($light-color, .5);
	position: absolute;
	left: -9999px;
	text-align: center;
	z-index: 1;
	&:after {
		content: "";
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	&.active {
		left: 0;
	}
}

.modal {
	width: 785px;
	padding: 35px;
	margin: 50px auto;
	@include box-sizing(border-box);
	background: #fff;
	@include box-shadow(0 0 10px 1px $theme-color);
	position: relative;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	.content {
		margin: 10px 0 0;
	}
	&--min {
		width: 410px;
		padding: 40px 25px;
	}
	&__title {
		margin: 0 0 18px;
		font-size: 1.28*$font-size;
		color: $title-color;
		text-align: center;
	}
	&__close {
		width: 34px;
		height: 21px;
		background: $btn-default-color;
		font-size: 2*$font-size;
		color: #fff;
		line-height: 25px;
		text-align: center;
		position: absolute;
		z-index: 1;
		top: -6px;
		right: 16px;
		cursor: pointer;
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-right: 17px solid transparent;
			border-left: 17px solid transparent;
			border-top: 14px solid $btn-default-color;
			position: absolute;
			bottom: -14px;
			left: 0;
		}
		&:after {
			content: "";
			width: 0;
			height: 0;
			border-right: 3px solid #34495e;
			border-bottom: 3px solid #34495e;
			border-left: 3px solid transparent;
			border-top: 3px solid transparent;
			position: absolute;
			top: 0;
			left: -6px;
		}
	}
}

.preloader {
	position: relative;
	&:before {
		content: "";
		background: rgba($light-color, .5) url("/assets/src/img/preloader.gif") 50% 50% no-repeat;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	}
}

.no-js {
	.preloader {
		&:before {
			display: none;
		}
	}
}