@import "template__header";
@import "template__menu";
@import "template__aside";
@import "template__footer";
@import "template__modal";

html, body {
	height: 100%;
}

.page-wrapper {
	min-height: 100%;
	position: relative;
}

.wrapper {
	width: 1100px;
	margin: 0 auto 28px;
	position: relative;
	&__content {
		min-width: 620px;
		display: table-cell;
		vertical-align: top;
	}
	&__aside {
		width: 290px;
		display: table-cell;
		vertical-align: top;
		padding: 40px 0 0 18px;
	}
}