.pagination {
	margin: 28px 0;
	color: $text-color;
	&__link {
		display: inline-block;
		margin: 2px 5px;
		border: 1px solid transparent;
		color: $link-color;
		&:hover,
		&--active {
			border: 1px solid darken($light-color, 10%);
			background: mix($light-color, darken($light-color, 10%));
			@include background(linear-gradient(top, $light-color, darken($light-color, 10%)));
			padding: 2px 5px;
			margin: 0;
			@include border-radius(2px);
			color: $text-color;
			text-decoration: none;
		}
	}
}

.pagination-nav {
	margin: 0 0 10px;
	&__prev,
	&__next {
		color: $pagintaion-arrow;
		font-size: 0.85*$font-size;
	}
	&__prev {
		padding: 0 0 0 5px;
		&:before {
			content: "\2190";
			margin: 0 3px 0 0;
			line-height: $line-height;
			font-size: $font-size;
		}
	}
	&__next {
		padding: 0 5px 0 0;
		&:after {
			content: "\2192";
			margin: 0 0 0 3px;
			line-height: $line-height;
			font-size: $font-size;
		}
	}
	&__link {
		color: $link-color;
		margin: 0 3px;
		&:hover {
			text-decoration: none;
		}
	}
}