.icon-homepage,
.icon-support,
.icon-project,
.icon-report {
	position: relative;
	&:before {
		content: "";
		position: absolute;
	}
}

.icon-homepage {
	padding-left: 57px;
	&:before {
		@include icons-sprite(homepage);
		top: 20px;
		left: 10px;
	}
}

.icon-support {
	padding-left: 60px;
	&:before {
		@include icons-sprite(support);
		top: 18px;
		left: 18px;
	}
}

.icon-project {
	padding-left: 67px;
	&:before {
		@include icons-sprite(project);
		top: 21px;
		left: 17px;
	}	
}

.icon-report {
	padding-left: 58px;
	&:before {
		@include icons-sprite(report);
		top: 20px;
		left: 18px;
	}		
}

.icon-support-task,
.icon-project-task {
	position: relative;
	padding-left: 26px;
	&:before {
		content: "";
		position: absolute;
		left: 3px;
	}	
}

.icon-support-task {
	&:before {
		top: 3px;
		@include icons-sprite(support-task);
	}
}

.icon-project-task {
	&:before {
		top: 4px;
		@include icons-sprite(project-task);
	}
}

.icon-file {
	padding: 0 0 0 18px;
	position: relative;
	&:before {
		content: "";
		@include icons-sprite(file);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.icons-delete,
.icons-refresh {
	display: inline-block;
	vertical-align: middle;
}

.icon-add-file {
	&:before {
		content: "";
		@include icons-sprite(add-file);
		position: absolute;
		top: -2px;
		left: 9px;
	}
}

.icon-upload-file {
	&:before {
		content: "";
		@include icons-sprite(upload-file);
		position: absolute;
		top: 38px;
		left: 30px;
	}
}

.icon-phone-cube,
.icon-adress-cube {
	padding: 0 0 0 80px;
	position: relative;
	&:before {
		content: "";
		width: 60px;
		height: 60px;
		background: $cube-color;
		@include border-radius(5px 5px 5px 0);
		position: absolute;
		top: 3px;
		left: 0;
	}
}

.cube {
	width: 60px;
	height: 60px;
	margin: 3px 0 0;
	@include border-radius(7px 7px 7px 0);
	background: $cube-color;
}

.icon-phone,
.icon-adress {
	padding: 0 0 0 80px;
	position: relative;
	&:before {
		content: "";
		@extend .cube;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.icon-adress {
	&:after {
		content: "";
		@include icons-sprite(adress);
		position: absolute;
		top: 18px;
		left: 15px;
	}
}

.icon-phone {
	&:after {
		content: "";
		@include icons-sprite(phone);
		position: absolute;
		top: 17px;
		left: 22px;
	}
}