.btn-contacts,
.btn-logout {
	display: inline-block;
	vertical-align: middle;
	height: 34px;
	border: 1px solid #071e23;
	background: mix($btn-user-color, lighten($btn-user-color, 7%));
	@include background(linear-gradient(top, $btn-user-color, lighten($btn-user-color, 7%)));
	@include border-radius(3px);
	position: relative;
	font-size: 1.17*$font-size;
	line-height: 34px;
	color: $title-color;
	text-decoration: none;
	&:after {
		content: "";
		width: 0;
		height: 100%;
		border-left: 1px solid #071e23;
		border-right: 1px solid darken($theme-color, 5%);
		position: absolute;
		top: 0;
	}
	&:hover {
		background: mix($btn-user-color, lighten($btn-user-color, 17%));
		@include background(linear-gradient(bottom, $btn-user-color, lighten($btn-user-color, 7%)));
	}
}

.btn-contacts {
	padding: 0 60px;
	&:before {
		content: "";
		@include icons-sprite(btn-phone);
		position: absolute;
		top: 7px;
		left: 13px;
	}
	&:after {
		left: 36px;
	}
}

.btn-logout {
	padding: 0 57px 0 16px;
	&:before {
		content: "";
		@include icons-sprite(btn-logout);
		position: absolute;
		top: 4px;
		right: 6px;		
	}
	&:after {
		right: 36px;
	}	
}

.btn {
	display: inline-block;
	padding: 9px 20px;
	margin: 0;
	@include border-radius(3px);
	border: 1px solid lighten($light-color, 2%);
	@include background(linear-gradient(top, $btn-default-color, darken($btn-default-color, 10%)));
	background-color: mix($btn-default-color, darken($btn-default-color, 10%));
	text-decoration: none;
	color: $bg;
	font-size: $font-size;
	cursor: pointer;
	&:active {
		position: relative;
		top: 1px;
	}
	&:focus {
		outline: none;
	}
	&:hover {
		@include background(linear-gradient(top, darken($btn-default-color, 10%), $btn-default-color));
		background-color: mix($btn-default-color, darken($btn-default-color, 20%));
	}
	&--success {
		@include background(linear-gradient(top, $btn-success-color, darken($btn-success-color, 10%)));
		background-color: mix($btn-success-color, darken($btn-success-color, 10%));
		&:hover {
			@include background(linear-gradient(top, darken($btn-success-color, 10%), $btn-success-color));
			background-color: mix($btn-success-color, darken($btn-success-color, 20%));
		}		
	}
	&--important {
		@include background(linear-gradient(top, $btn-important-color, darken($btn-important-color, 10%)));
		background-color: mix($btn-important-color, darken($btn-important-color, 10%));
		&:hover {
			@include background(linear-gradient(top, darken($btn-important-color, 10%), $btn-important-color));
			background-color: mix($btn-important-color, darken($btn-important-color, 20%));
		}
	}
	&--size {
		&-micro {
			vertical-align: middle;
			width: 22px;
			height: 22px;
			padding: 0;
			@include border-radius(0);
			line-height: 22px;
			text-align: center;
		}
	}
}

.btn-group {
	text-align: justify;
	font-size: 0;
	&:after {
		content: "";
		width: 100%;
		display: inline-block;
	}
	&--double {
		.btn {
			width: 49%;
			@include box-sizing(border-box);
			text-align: center;
		}
	}
}

.btn-medium {
	@include background(linear-gradient(top, $btn-medium-color, darken($btn-medium-color, 10%)));
	background-color: mix($btn-medium-color, darken($btn-medium-color, 10%));
	border-top: 1px solid lighten($btn-medium-color, 10%);
	border-right: 1px solid lighten($btn-medium-color, 10%);
	border-left: 1px solid lighten($btn-medium-color, 10%);
	border-bottom: 1px solid darken($btn-medium-color, 10%);
	&:hover {
		@include background(linear-gradient(top, darken($btn-medium-color, 10%), $btn-medium-color));
		background-color: mix($btn-medium-color, darken($btn-medium-color, 20%));
		border-bottom: 1px solid lighten($btn-medium-color, 10%);
		border-top: 1px solid darken($btn-medium-color, 10%);
	}
}

.btn-filter-show {
	position: absolute;
	bottom: 25px;
	right: 15px;
	&:active {
		top: 1px;
		right: -2px;
	}
}