.tabs-menu {
	&__head {
		font-size: 0;
	}
	&__content {
		border: 1px solid $light-color;
		padding: 30px 0;
		@include border-radius(0 5px 5px 5px);
		background: $task-bg;
		@include box-shadow(-1px 1px 0 0 #fff inset);
	}
	&__tab {
		display: inline-block;
		vertical-align: bottom;
		padding: 7px 15px 7px 40px;
		border-top: 1px solid $light-color;
		border-right: 1px solid $light-color;
		border-left: 1px solid $light-color;
		background: lighten($light-color, 5%);
		@include border-radius(3px 3px 0 0);
		@include box-shadow(-1px 1px 0 0 #fff inset);
		font-size: $font-size;
		color: $title-color;
		cursor: pointer;
		position: relative;
		&:before {
			content: "";
			transform: skew(28deg);
			width: 27px;
			height: 100%;
			position: absolute;
			top: -1px;
			right: -16px;
			background: lighten($light-color, 5%);
			border-top: 1px solid $light-color;
			border-right: 1px solid $light-color;
			@include box-shadow(-1px 1px 0 0 #fff inset);
			@include border-radius(0 3px 0 0);
		}
		&--active {
			font-size: 1.28*$font-size;
			padding: 16px 10px 6px 30px;
			margin: 0;
			background: $task-bg;
			z-index: 1;
			top: 2px;
			cursor: default;
			&:before {
				background: $task-bg;
			}
		}
	}
	&__take-action {
		display: none;
		&:checked {
			+.tabs-menu {
				&__tab-content {
					display: block;
				}
			}
		}
	}
	&__tab-content {
		display: none;
	}
}