.form-filter {
	padding: 15px;
	margin: 2px 0;
	background: lighten($light-color, 3%);
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid transparent;
	border-left: 1px solid transparent;
	@include border-radius(5px);
	position: relative;
	font: normal $font-size Arial, sans-serif;
	color: $text-color;
	&:before {
		content: "";
		width: 100%;
		height: 100%;
		padding: 1px;
		border: 1px solid $light-color;
		@include border-radius(5px);
		position: absolute;
		top: -2px;
		left: -2px;
		z-index: -1;
	}
	&--report {
		padding: 15px 15px 30px;
	}
	.label {
		display: block;
		margin: 0 0 10px;
	}
	.input,
	.chosen-container {
		margin: 0;
	}
}

.form-search-line {
	padding: 10px 0;
	&__item {
		display: inline-block;
		vertical-align: bottom;
		margin: 0 0 0 12px;
		line-height: 29px;
		&:first-child {
			margin: 0;
		}
	}
}

.field {
	text-align: justify;
	font-size: 0;
	line-height: 0;
	&:after {
		content: "";
		width: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	.label {
		display: inline-block;
		vertical-align: middle;
		margin: 0 17px 25px 0;
	}
	.input,
	.select,
	.textarea,
	.btn-radio {
		margin: 0 0 25px;
	}
	.btn-radio {
		&__label {
			padding: 0;
			width: 65px;
			text-align: center;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: middle;

	}
}

.input {
	display: block;
	height: 30px;
	padding: 0 12px;
	&--min {
		width: 90px;
	}
	&--medium {
		width: 245px;
	}
	&--large {
		width: 305px;
	}
	&--huge {
		width: 100%;
	}
	&--date {
		width: 123px;
		display: inline-block;
	}
}

.select {
	height: 30px;
	width: 285px;
	padding: 0 12px;
	vertical-align: middle;
	&--min {
		width: 200px;
	}
	&--big {
		width: 353px;
	}
	&--less {
		width: 275px;
	}
	&--more {
		width: 296px;
	}
}

.radio {
	&__input {
		display: none;
		&:checked {
			+.radio__label {
				&:after {
					content: "";
					width: 10px;
					height: 10px;
					@include border-radius(50%);
					background: mix($radio-check-from, $radio-check-to);
					@include background(linear-gradient(top, $radio-check-from, $radio-check-to));
					position: absolute;
					top: 3px;
					left: 3px;
				}
			}
		}
	}
	&__label {
		display: inline-block;
		vertical-align: middle;
		width: 16px;
		height: 16px;
		margin: 0 11px 0 0;
		background: mix($radio-border-from, $radio-border-to);
		@include background(linear-gradient(top, $radio-border-from, $radio-border-to));
		@include border-radius(50%);
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
			width: 12px;
			height: 12px;
			background: mix($radio-default-from, $radio-default-to);
			@include background(linear-gradient(top, $radio-default-from, $radio-default-to));
			@include border-radius(50%);
			position: absolute;
			top: 2px;
			left: 2px;
		}
		+ label {
			cursor: pointer;
		}
	}
	&__item {
		margin: 0 0 12px;
	}
}

//NEW

.form {
	&--filter {
		.btn-group {
			margin: 21px 0 0;
		}
		.btn {
			padding: 6px 11px;
		}
		.form-group {
			&:last-child {
				margin: 0;
			}
		}
	}
	&--message {
		.form-group {
			margin: 0 0 20px;
		}
		+.form-group {
			margin-top: 20px;
		}		
	}
	&--sortable {
		display: inline-block;
		margin: 0 0 0 102px;
		font-size: $font-size;
		color: lighten($text-color, 13%);
	}
}

.form-group {
	position: relative;
	padding: 0 30px;
	margin: 0 0 10px;
	&:last-child {
		margin: 0 0 30px;
	}
	&__field {
		width: 305px;
		display: inline-block;
		vertical-align: top;
		font-size: $font-size;
		+.form-group__field {
			margin: 0 0 0 20px;
		}
		&--justify {
			text-align: justify;
			font-size: 0;
			line-height: 0;
			&:after {
				content: "";
				width: 100%;
				display: inline-block;
			}
			.label {
				display: inline-block;
				font-size: $font-size;
				text-align: left;
				line-height: $line-height;
			}
		}
		&--medium {
			width: 315px;
		}
		&--large {
			width: 330px;
		}
		&--full {
			width: 100%;
		}
	}
	&--justify {
		text-align: justify;
		font-size: 0;
		line-height: 0;
		&:after {
			content: "";
			width: 100%;
			display: inline-block;
		}
		.form-group {
			&__field {
				font-size: $font-size;
				text-align: left;
				line-height: $line-height;
				&--justify {
					text-align: justify;
					font-size: 0;
					line-height: 0;
				}
			}			
		}
	}
	&--upload-file {
		max-width: 830px;
	}
}

.form-control,
.chosen-container {
	height: 30px;
	width: 100%;
	padding: 0 12px;
	margin: 5px 0;
	background: $form-control-bg;
	border-top: 1px solid $form-control-border;
	border-right: 1px solid lighten($form-control-border, 5%);
	border-bottom: 1px solid lighten($form-control-border, 5%);
	border-left: 1px solid $form-control-border;
	@include border-radius(3px);
	@include box-shadow(1px 1px 5px 1px $light-color inset);
	@include transition(all, 0.2s);
	color: $form-control-text;
	cursor: pointer;
	@include box-sizing(border-box);
	font: normal $font-size Arial, sans-serif;
	color: lighten($text-color, 13%);
	line-height: $line-height;
	position: relative;
	&:focus,
	&:hover {
		outline: none;
		background: $bg;
		@include box-shadow(0 0 7px 0 darken($light-color, 3%) inset);
	}
	&--size {
		&-micro {
			background: $bg;
			@include box-shadow(1px 1px 6px -1px $form-control-border inset);
			@include border-radius(0);
			vertical-align: middle;
			text-align: center;
			width: 36px;
			height: 22px;
			padding: 0 5px;
			margin: 0;
			&:hover {
				@include box-shadow(none);
			}
		}
		&-min {
			width: 90px;
		}
		&-small {
			width: auto;
		}
	}
}

textarea.form-control {
	width: 100%;
	min-height: 100px;
	padding: 15px;
	margin: 0;
	resize: vertical;
}

.checkbox {
	&__input {
		display: none;
		&:checked {
			+ .checkbox__label {
				&:before {
					content: "\2713";
					line-height: 20px;
					text-align: center;
					color: $text-color;
					font-size: 1.5*$font-size;
				}
			}
		}
	}
	&__label {
		padding: 3px 0 3px 45px;
		position: relative;
		cursor: pointer;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid $form-control-border;
			@include background(linear-gradient(top, $form-control-border, lighten($form-control-border, 5%)));
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.radio-menu {
	vertical-align: middle;
	display: inline-block;
	height: 28px;
	margin: 5px 0;
	border: 1px solid darken($light-color, 5%);
	@include border-radius(3px);
	font-size: 0;
	&--small {
		.radio-menu__label {
			padding: 0 10px;
		}
	}
	&__point {
		display: inline-block;
		height: 100%;
		line-height: 28px;
		color: $text-color;
		font-size: $font-size;
		+.radio-menu__point {
			position: relative;
			&:before {
				content: "";
				width: 1px;
				height: 100%;
				@include background(linear-gradient(bottom, lighten($btn-default-color, 25%), lighten($btn-default-color, 16%)));
				background-color: mix(lighten($btn-default-color, 25%), lighten($btn-default-color, 16%));
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	&__label {
		display: inline-block;
		height: 100%;
		padding: 0 13px;
		@include background(linear-gradient(top, lighten($btn-default-color, 25%), lighten($btn-default-color, 16%)));
		background-color: mix(lighten($btn-default-color, 25%), lighten($btn-default-color, 16%));
		@include transition(all, 0.2s);
		cursor: pointer;
		&:hover {
			@include background(linear-gradient(top, lighten($btn-default-color, 1%), lighten($btn-default-color, 6%)));
			background-color: mix(lighten($btn-default-color, 1%), lighten($btn-default-color, 6%));
			color: $bg;
		}
	}
	&__input {
		display: none;
		&:checked {
			+ .radio-menu__label {
				@include background(linear-gradient(top, lighten($btn-default-color, 1%), lighten($btn-default-color, 6%)));
				background-color: mix(lighten($btn-default-color, 1%), lighten($btn-default-color, 6%));
				color: $bg;
				cursor: default;
			}
		}
	}
}

.form-control::-webkit-input-placeholder {
	color: darken($light-color, 10%);
}

.form-control:-moz-placeholder {
	color: darken($light-color, 10%);
}