.content {
	&__helper-count-task {
		@include background(linear-gradient(top, $btn-success-context, darken($btn-success-context, 7%)));
		&:hover {
			@include background(linear-gradient(bottom, $btn-success-context, darken($btn-success-context, 7%)));
		}
	}
	&__helper-link {
		@include background(linear-gradient(top, $btn-default-context, darken($btn-default-context, 7%)));
		&:hover {
			@include background(linear-gradient(bottom, $btn-default-context, darken($btn-default-context, 7%)));
		}
	}
	&--task {
		@include background(linear-gradient(top, lighten($task-bg, 3%), $task-bg));
	}
}

.task-info {
	&__prioritet {
		&--high {
			&:before {
				@include background(linear-gradient(bottom, $btn-important-context, lighten($btn-important-context, 10%)))
			}
		}
		&--middle {
			&:before {
				@include background(linear-gradient(top, $btn-success-context, darken($btn-success-context, 10%)))
			}
		}
		&--low {
			&:before {
				@include background(linear-gradient(bottom, $btn-default-context, lighten($btn-default-context, 10%)))
			}
		}
	}
}

.upload-file {
	&__drag {
		@include background(linear-gradient(top, $bg, darken($bg, 6%)));
	}
}

.progress-download {
	@include background(linear-gradient(top, $btn-default-color, lighten($btn-default-color, 15%)));
}

.create-message {
	@include background(linear-gradient(top, $create-message-from, $create-message-to));
}

.menu {
	&__point {
		&.active,
		&:hover {
			@include background(linear-gradient(top, $light-theme-color, $menu-active));
		}
	}
}

.btn-contacts,
.btn-logout {
	@include background(linear-gradient(top, $btn-user-color, lighten($btn-user-color, 7%)));
	&:hover {
		@include background(linear-gradient(bottom, $btn-user-color, lighten($btn-user-color, 7%)));
	}
}

.btn-default {
	@include background(linear-gradient(top, $btn-default-color, darken($btn-default-color, 10%)));
	&:hover {
		@include background(linear-gradient(top, darken($btn-default-color, 10%), $btn-default-color));
	}
}

.btn-important {
	@include background(linear-gradient(top, $btn-important-color, darken($btn-important-color, 10%)));
	&:hover {
		@include background(linear-gradient(top, darken($btn-important-color, 10%), $btn-important-color));
	}
}

.btn-success {
	@include background(linear-gradient(top, $btn-success-color, darken($btn-success-color, 10%)));
	&:hover {
		@include background(linear-gradient(top, darken($btn-success-color, 10%), $btn-success-color));
	}
}

.btn-medium {
	@include background(linear-gradient(top, $btn-medium-color, darken($btn-medium-color, 10%)));
	&:hover {
		@include background(linear-gradient(top, darken($btn-medium-color, 10%), $btn-medium-color));
	}
}

.radio {
	&__input {
		&:checked {
			+.radio__label {
				&:after {
					@include background(linear-gradient(top, $radio-check-from, $radio-check-to));
				}
			}
		}
	}
	&__label {
		@include background(linear-gradient(top, #ecf2f4, #acc9cf));
		&:before {
			@include background(linear-gradient(top, #82afb6, #b9d2d6));
		}
	}
}

.btn-radio {
	&__label {
		@include background(linear-gradient(top, lighten($btn-default-color, 25%), lighten($btn-default-color, 16%)));
		&:hover {
			@include background(linear-gradient(top, lighten($btn-default-color, 1%), lighten($btn-default-color, 6%)));
		}
	}
	&__input {
		&:checked {
			+ .btn-radio__label {
				@include background(linear-gradient(top, lighten($btn-default-color, 1%), lighten($btn-default-color, 6%)));
			}
		}
	}
}

.chosen-with-drop {
	.chosen-single div {
		@include background(linear-gradient(top, darken($light-color, 20%), darken($light-color, 12%)));
	}
}

.chosen-single div {
	@include background(linear-gradient(top, darken($light-color, 4%), darken($light-color, 8%)));
	&:hover {
		@include background(linear-gradient(top, darken($light-color, 20%), darken($light-color, 12%)));
	}
}

.pagination {
	&__link {
		&:hover,
		&--active {
			@include background(linear-gradient(top, $light-color, darken($light-color, 10%)));
		}
	}
}